* {
  box-sizing: border-box;
}

body {
  font-family: "Circular";
  color: #333;
}

.search-icon {
  position: absolute;
  top: 4px;
  left: 0;
}

.search-nav {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  top: 10px;
  right: 8px;
}

.search-nav-border {
  border-left: 1px solid #c9c3c3 !important;
}

.search-width {
  width: 30rem;
}

.search-padding {
  padding: 12px 0;
}

.black {
  background-color: black;
}

.grey {
  background-color: #282828;
}
.greybody {
  background-color: #121212;
}

